<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="col-xs-2 nopadding">
                <select id="evenementMois" name="evenementMois">
                {% for month in range(1, 12) %}
                    <option value="{{ "%02d"|format(month) }}">{{ "%02d"|format(month) }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-xs-2">
                {% set currentYear =  "now"|date("Y") %}
                <select id="evenementAnnee" name="evenementAnnee">
                    {% for annee in range(currentYear -1 , currentYear +2) %}
                    <div class="col-xs-2">
                <option value="{{ annee }}">{{ annee }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-xs-3">
                <input type="submit" value="Changer de mois" />
            </div>
        </div>
    </div>
</div>