{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li><a href="{{ path('admin_contrats') }}">Mes contrats</a></li>
                <li><a href="{{ path('admin_bulletins', { contratId : contratId }) }}">Bulletins</a></li>
                <li>Nouveau bulletin</li>
            </ol>
        </div>
    </div>

    {{ form_widget(bulletinForm) }}

{% endblock %}