{% extends 'common/layout.html.twig' %}

{% block content %}
<div class="container-fluid">
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="box">
				<div class="box-content">
					<form action="{{ path('admin_login_check') }}" method="post">
						<div class="text-center">
							<h3 class="page-header">Connexion</h3>
						</div>
						
						{{ error }}
						
						<div class="form-group">
							<label class="control-label">Nom d'utilisateur</label>
							<input type="text" class="form-control" name="_username" value="{{ last_username }}" />
						</div>
						<div class="form-group">
							<label class="control-label">Mot de passe</label>
							<input type="password" class="form-control" name="_password" value="" />
						</div>
						<button type="submit" class="btn btn-primary">Se connecter</button>
						<a href="{{ path('user_lostpass_edit') }}">Mot de passe perdu ?</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

