#actions i {
	font-size: 20px;
	vertical-align: middle;
}

.fc-day-grid-event .fc-content {
	white-space: normal;
}

#loader {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: none;
}

input, select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1px 2px;
    width: 100%;
}

label {
    text-align: right;
    width: 100%;
}

.control-group {
	clear: both;
	padding-top: 15px;
}