<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DevOOPS</title>
        <meta name="description" content="description">
        <meta name="author" content="DevOOPS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% stylesheets
            '../assets/compiled/main.css'
            '../assets/css/style.css'
            '../assets/plugins/jquery-ui/jquery-ui.min.css'
            '../assets/plugins/fancybox/jquery.fancybox.css'
            '../assets/plugins/fullcalendar/fullcalendar.css'
            '../assets/plugins/xcharts/xcharts.min.css'
            '../assets/plugins/select2/select2.css'
         %}
        <link href="/{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        
        <!--<link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">-->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
                <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
        <![endif]-->
        
        {% block specificStylesheets %}{% endblock specificStylesheets %}
    </head>
<body>

    {% block content %}{% endblock %}

    {% javascripts
        '../assets/plugins/jquery/jquery-2.1.0.min.js'
        '../assets/plugins/jquery-ui/jquery-ui.min.js'
        '../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
        '../assets/plugins/justified-gallery/jquery.justifiedgallery.min.js'
        '../assets/plugins/tinymce/tinymce.min.js'
        '../assets/plugins/tinymce/jquery.tinymce.min.js'
        '../assets/js/main.js'
        '../assets/js/devoops.js'
    %}
    <script type="text/javascript" src="/{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block specificsJavascripts %}{% endblock specificsJavascripts %}
    </body>
</html>